.section {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .section {
    flex-direction: row;
  }
}

.icon {
  width: 50px;
  height: 50px;
  color: var(--light-blue)
}

.deliveryChannel {
  border: 1px solid black;
  flex-basis: 30%;
}

.deliveryChannel > h4 {
  margin: 0;
  border-bottom: 1px solid black;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 4px; /* I added this little bit of spacing in order to match how the demo looks*/
  font-weight: 400;
  gap: 4px; /* added spacing between the icon and the title to match the demo*/
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .deliveryChannel > h4 {
    justify-content: flex-start;
  }
}

.deliveryRange {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.deliveryRange > h2 {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
  margin-top: 0;
}

.deliveryRange > p {
  margin: 0;
  font-size: 15px;
}

.deliveryRange > h3 {
  margin-top: 0;
  font-weight: 700;
  font-size: 15px;
}

.deliveryDetails {
  display: flex;
  flex-basis: 80%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  border-top: none;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

@media only screen and (min-width: 600px) {
  .deliveryDetails {
    border-top: 1px solid black;
  border-left: none;

  }
}


.deliveryDetails > div {
  border-bottom: 1px solid black;
  width: 100%;
  height: 20%;
  background-color: blue; /* Background not provided but set it to blue to match demo*/
  display: flex;
  align-items: center;
  justify-items: center;
}

.deliveryDetails > div > h2 {
  text-align: center;
  font-weight: 600;
  color: #FFFFFF;
  margin: 0;
  width: 100%;
}

.deliveryDetails > h1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 80%;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  padding: 10px 0;
}

@media only screen and (min-width: 600px) {
  .deliveryDetails > h1 {
    padding: 0;

  }
}